pb-menu-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

pb-menu-button.btn {
    border: 0 none;
    padding: 0;
    font: inherit;
}

pb-menu-button > button {
    background: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    color: inherit;
    cursor: inherit;
    font: inherit;
    padding: 0;
    text-transform: inherit;
}

pb-menu-button > button > label {
    color: inherit;
    cursor: inherit;
    font: inherit;
    margin: 0;
    text-transform: inherit;
}

pb-menu-button.btn > button {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
}

pb-menu-button.btn-default > button {
    border-color: #ccc;
}

pb-menu-button pb-menu {
    text-transform: none;
}

pb-menu-button > button > .select-button {
    display: none;
}

pb-menu-button.select {
    background: #e5e7eb;
    box-shadow: inset 1px 2px 3px #a0a1a4;
    color: #5b6770;
}

pb-menu-button.select > button {
    border: 0 none;
    height: 100%;
    padding-left: 0.9375rem;
    padding-right: 3.6875rem;
    position: relative;
    text-align: left;
    width: 100%;
}

pb-menu-button.select > button[disabled] {
    cursor: not-allowed;
}

pb-menu-button.select > button > label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

pb-menu-button.select > button > .select-button {
    background-color: #253746;
    box-shadow: inset 0 4px 3px -3px #a0a1a4,
                -3px 0 3px #a0a1a4;
    color: #fff;
    display: inline-block;
    height: calc(100% - 2px);
    position: absolute;
    right: 0;
    text-align: center;
    top: 1px;
    width: 2.75rem;
}

pb-menu-button.select > button:hover > .select-button,
pb-menu-button.select[aria-expanded=true] .select-button {
    background-color: #008eb9;
}

pb-menu-button.select > button[disabled] > .select-button {
    background-color: #337ab7;
    opacity: .65;
}

pb-menu-button.select .select-button > .glyphicon {
    top: 50%;
    transform: translateY(-50%);
}

pb-menu-button.select pb-menu-item.selected,
pb-menu-button.selectable pb-menu-item.selected {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

pb-menu-button.select pb-menu-item:hover,
pb-menu-button.select pb-menu-item:focus,
pb-menu-button.select pb-menu-item[aria-expanded=true],
pb-menu-button.selectable pb-menu-item:hover,
pb-menu-button.selectable pb-menu-item:focus,
pb-menu-button.selectable pb-menu-item[aria-expanded=true] {
    background: #008eb9;
}

pb-menu-button.select pb-menu-item:active,
pb-menu-button.selectable pb-menu-item:active {
    background: #00789b;
}
