<select (change)="onChangeLetter($event)" [(ngModel)]="letter" [disabled]="disabled">
    <option>A</option>
    <option>B</option>
    <option>C</option>
    <option>D</option>
    <option>E</option>
    <option>F</option>
    <option>G</option>
    <option>H</option>
</select>
<select (change)="onChangeNum($event)" [(ngModel)]="num" [disabled]="disabled">
    <option>01</option>
    <option>02</option>
    <option>03</option>
    <option>04</option>
    <option>05</option>
    <option>06</option>
    <option>07</option>
    <option>08</option>
    <option>09</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
</select>
